extends ../layout.jade

block head
  title Home

block content
  .bloc.bgc-outer-space.bg-soundwaves-overlay.d-bloc#Sound_waves
    .container.bloc-xl
      .row
        .col-sm-12
          h3.text-center.mg-lg.tc-white ONDE SONORE
          p.text-center Le onde sonore sono un tipo di onde meccaniche che si propagano in aria.
          p.text-center Le onde sonore si distinguono in suoni e rumori: i primi hanno un andamento periodico, i secondi no.
          p.text-center.mg-lg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies leo in libero pharetra, a varius urna ullamcorper.
            | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
            | quis enim.

  .bloc.bgc-white.l-bloc#Sound
    .container.bloc-xl
      .row
        .col-sm-12
          h3.text-center.mg-lg SUONO
            span(data-typer-targets="WEB DESIGN,WEB DEVELOPMENT,PROMOTION")
          p.text-center Il suono è un'onda caratterizzata da un andamento periodico.
          p.text-center Un andamento periodico non significa che a livello macroscopico il suono si ripete, ma che si ripete a livello microscopico dopo un tempo T=1/f, detto periodo dell'onda.
          p.text-center.mg-lg Ci sono tre elementi che caratterizzano un suono:
      .row
        .col-sm-4
          h3.text-center.mg-md Frequenza
          p.text-center La frequenza determina la "nota" a cui corrisponde un suono e dipende dalle caratteristiche dell'emettitore del suono.
        .col-sm-4
          h3.text-center.mg-md Intensità
          p.text-center L'intensità determina il "volume" del suono ed è data dall'ampiezza delle onde sonore.
        .col-sm-4
          h3.text-center.mg-md Timbro
          p.text-center Il timbro è dato dalla forma dell'onda sonora per la durata di un periodo e determina la differenza tra due suoni emessi da strumenti diversi.
          img(src="images/timbro.png").in-container

  .bloc.d-bloc.bgc-outer-space#DigitalList
    .container.bloc-lg
      .row
        .col-sm-12
          h3.text-center.mg-lg DIGITALIZZAZIONE
      .row
        .col-sm-4
          .text-center
            a(onclick="scrollToTarget('#Recording')")
              img(src="images/Mic-icon.png").icon-xl
          h3.text-center.mg-md Registrazione
          p.text-center A little feature description could go here. A little feature description.
        .col-sm-4
          .text-center
            a(onclick="scrollToTarget('#Sampling')")
              img(src="images/Sampling-icon.png").icon-xl
          h3.text-center.mg-md Sampling
          p.text-center A little feature description could go here. A little feature description.
        .col-sm-4
          .text-center
            a(onclick="scrollToTarget('#Reproducing')")
              img(src="images/Reproducing-icon.png").icon-xl
          h3.text-center.mg-md Riproduzione
          p.text-center A little feature description could go here. A little feature description.
  

  div(style="height: 1000px;") ciao
  #porfolio cose

  a.bloc-button.btn.btn-d.scrollToTop(onclick="scrollToTarget('1')")
    //inserire l'immagine della freccia