/*-----------------------------------------------------------------------------------
        Qui dovrei dare i crediti a qualcuno
-----------------------------------------------------------------------------------*/

body{
  margin:0;
  padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none;} /* Prevent ugly blue glow on chrome and safari */


   


/* Globals type styling */
 h1, h2, h3, h4, h5, h6, p, label, .btn, a{
  font-family:Montserrat;
}


/* Site container width */

.container{
  max-width:1170px;
}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
  width:100%;
  clear:both;
  background: 50% 50% no-repeat;
  padding:0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}
.bloc .container{
  padding-left:0;
  padding-right:0;
}


/* Sizes */

.bloc-xl{
  padding:150px 50px;
}
.bloc-lg{
  padding:100px 50px;
}

/* Dark theme */

.d-bloc{
  color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
  color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
  color:rgba(255,255,255,.9);
}
.d-bloc a{
  color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
  color:rgba(255,255,255,1);
}


/* Light theme */

.l-bloc{
  color:rgba(0,0,0,.5);
}
.l-bloc button:hover{
  color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
  color:rgba(0,0,0,.7);
}
.l-bloc a{
  color:rgba(0,0,0,.6);
}
.l-bloc a:hover{
  color:rgba(0,0,0,1);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md{
  margin-top:10px;
  margin-bottom:20px;
}
.mg-lg{
  margin-top:10px;
  margin-bottom:40px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
  margin: 0 5px 5px 0;
}
.btn-d,.btn-d:hover,.btn-d:focus{
  color:#fff;
  background:rgba(0,0,0,.3);
}

/* = Icons
-------------------------------------------------------------- */

.icon-xl{
  font-size:100px;
}

/* ScrollToTop button */

.scrollToTop{
  width:40px;
  height:40px;
  position:fixed;
  bottom:20px;
  right:20px;
  opacity: 0;
  z-index: 500;
  transition: all .3s ease-in-out;
  background: gray;
  display: flex;
}

.scrollToTop span{
  margin: auto;
  color: white;
  width: 100%;
  text-align: center;
}

.showScrollTop{
  font-size: 14px;
  opacity: 1;
}

/* = Custom Colour Styling
-------------------------------------------------------------- */

/* Background colour styles */
.bgc-outer-space{
  background-color:#47454B;
}
.bgc-white{
  background-color:#FFFFFF;
}

/* Text colour styles */
.tc-white{
  color:#fff;
}

/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
}
@media (max-width: 768px)
{
    .container{width:100%;}
}
@media (max-width: 767px)
{
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px; 
        padding-right:10px; 
    }
    .bloc{
        padding-left: 0; 
        padding-right: 0;  
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    
    .bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}