#logo {
  max-height: 30px;
}

.navbar {
  margin-bottom: 0;
}

.in-container {
  max-width: 100%;
}

.no-border {
  border-style: hidden;
}

.tc-black {
  color: #000;
}

.bgc-none {
  background: none;
}

.explain[title] {
  cursor: help;
  text-decoration: underline dotted;
}

footer {
  background-color: #222;
  color: #ddd;
  padding-top: 6px;
}


/*
 Grid system
 ------------------------ */
.grid {
  display: table;
}
.grid-row {
  display: table-row;
}
.grid-cell {
  display: table-cell;
}